<div class="">
  <h2>Editar Tarea</h2>
  <form
    action="/actualizar/{{task.id}}"
    method="POST">
    <input
      type="text"
      name="tarea"
      placeholder="Edita la Tarea"
      value="{{task.tarea}}"
      class=""
    />
    <button
     type="submit"
     class=""
    >Actualizar
    </button>
  </form>
</div>