<div class="p-4 rounded-0 bg-dark text-white">
  <h2>Editar Tarea</h2>
  <form action="/actualizar/{{task.id}}" method="POST">
    <input
      type="text"
      name="tarea"
      placeholder="Edita la Tarea"
      value="{{task.tarea}}"
      class="rounded-0 bg-black text-white"
    />
    <button
     type="submit"
     class="btn btn-info justify-content-md-end"
    >Actualizar
    </button>
  </form>
</div>