<div class="">
  <h2 class="link-primary text-center">Editar Tarea</h2>
  <div class="mx-5 p-4">
    <form action="/actualizar/{{task.id}}" method="POST">
      <input
        type="text"
        name="tarea"
        autocomplete="off"
        placeholder="Edita la Tarea"
        value="{{task.tarea}}"
        class="form-control"
      />
      <button type="submit" class="btn btn-outline-primary float-end">Actualizar
      </button>
    </form>
  </div>
</div>