<div class="text-center">
    <h1 class="link-primary">Bienvenido</h1>
    <p class="fw-light">Hola, Mira lo que hice, SOY FABULOSO gg!</p>
    <a href="/logout" class="">Iniciar</a>
    <p class="fw-light"> No tienes una cuenta?<a href="/registro" class="link-primary">Registrate</a></p>
</div>