<div class="p-4 rounded-0 bg-dark text-white" id="list-contender">
  <h2>Lista</h2>
  <form action="/tarea_nueva" method="POST">
    <label for="inputNuevaTarea">Agregar nueva tarea: </label>
    <input
      type="text"
      name="tarea"
      id="inputNuevaTarea"
      placeholder="Escribe una Tarea"
      class="rounded-0 bg-black text-white"
    />
    <button
      id="btnAgregarTarea"
      type="submit"
      class="btn btn-info justify-content-md-end"
    >
      Ok
    </button>
  </form>
  <ul id="contenedorTareas" class="list-group">
    {{#each tasks}}
      <li class="mb-2">
        <span>{{tarea}}</span>
        <a href="/actualizar/{{id}}">x</a>
        <a href="/actualizar/{{@index}}">Editar</a>
      </li>
    {{/each}}
  </ul>
</div>
<script src="/js/script.js"></script>