.form_div{
    margin: 100px;
    margin-right: 200px;
    font-family: sans-serif;
}
.email_input{
   padding: 10px;
   margin: 10px;
   width: 80%;
   border-radius: 6px;
   border: solid 1px #fff;
   background: #fff;
   outline: none;
}
.password_input{
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 6px;
    border: solid 1px #fff;
    background: #fff;
    outline: none; 
}
.submit_input{
    padding: 10px;
    border-radius: 6px;
    background: #84dfff;
    border: solid 1px #000;
    margin-left: 10px;
}
.submit_input:hover{
    background-color: #4dcfff;
}
.p_cuenta{
    display: flex;
    padding-left: 10px;
}